* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    font-weight: 700;
}

div {
    width: fit-content;
}

.danger {
    background-color: #ffdddd;
}

.success {
    background-color: #ddffdd;
}

.info {
    background-color: #e7f3fe;
}

.warning {
    background-color: #ffffcc;
}

.danger,
.success,
.info,
.warning {
    font-size: 1.2rem;
    pading: 20px;
}